.buheading{
    text-align: center;
    color: rgb(29, 29, 129);
   
}
#regsteps{
text-align: center;
color: rgb(29, 29, 129);
}
#buimg2{
    text-align: center;
}
#postgrad{
    color: rgb(29, 29, 129);
}
#buimg3{
    text-align: center;
}
#undergrad{
    color: rgb(29, 29, 129);
}